<%= title "Choose Fonts for Reviewed ~ KAPHOO" %>
<div class="col-md-8 brek skiw">
	<div class="wq87uy">
		<% @fontos.each do |font| %>
			<div id="kjhgt565">
				<%= render partial: 'font', locals: {font: font} %>
			</div>
		 <% end %> 
	</div>
</div>
<div class="col-md-4 brok kuio">
	<div class="for_reviewer">
		<div class="team kls">
			<div class="ti_l">
				<span>YOUR CHOOSES</span>
			</div>
		</div>
	</div>
	<div class="fresk">
		<div id="forever">
			<%= render @fonts %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="brn878">
		<%= link_to "CHECK OUT", project_path(current_user.team_id), class: "gdt35", "data-turbolinks": false %>
	</div>
</div>
<div class="clear"></div>
<script>
	$('.aktif').removeClass();
	$('.fonts').addClass('aktif');
	<% @fontos.each do |font| %>
		$(document).ready(function(){
			$('#add_to_pro_font<%= font.id %>').click(function(){
			$.ajax({
				type: "GET",
				url: "<%= add_to_pro_font_path(font) %>",
				success: function(){
					$('#dhg789trf_<%= font.id %>').hide("slow");
				}
			});
			});
		});
	 <% end %> 
</script>