<%= title "Choose 3D for Reviewed ~ KAPHOO" %>
<div class="col-md-8 brek skiw">
	<div class="wq87uy">
		<% @t3dos.each do |t3d| %>
			<div id="kjhgt565">
				<%= render partial: 't3d', locals: {t3d: t3d} %>
			</div>
		 <% end %> 
	</div>
</div>
<div class="col-md-4 brok kuio">
	<div class="for_reviewer">
		<div class="team kls">
			<div class="ti_l">
				<span>YOUR CHOOSES</span>
			</div>
		</div>
	</div>
	<div class="fresk">
		<div id="forever">
			<%= render @t3ds %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="brn878">
		<%= link_to "CHECK OUT", project_path(current_user.team_id), class: "gdt35", "data-turbolinks": false %>
	</div>
</div>
<div class="clear"></div>
<script>
	$('.aktif').removeClass();
	$('.t3ds').addClass('aktif');
	<% @t3dos.each do |t3d| %>
		$(document).ready(function(){
			$('#add_to_pro_t3d_<%= t3d.id %>').click(function(){
			$.ajax({
				type: "GET",
				url: "<%= add_to_pro_t3d_path(t3d) %>",
				success: function(){
					$('#dhg7896d_<%= t3d.id %>').hide("slow");
				}
			});
			});
		});
	 <% end %> 
</script>