<% index = genre_counter + 1 %>
<%= content_tag "div", id: "genre3265", data: {genre: genre.to_json(only: [:slug])} do %>
  <li id="daddyyoio51_<%= genre.id %>" class="_idih <%= 'tran' if (index + 1)%2 == 0 %>">
    <ul class="list-inline keke">
      <li class="_id cfdl">
        <%= index %>
      </li>
      <li class="_name cfdl">
        <%= genre.name %>
      </li>
      <li class="_unit cfdl">
        <ul class="list-inline siut">
          <li><%= link_to genre_edit_url(genre.id) do %><span class="lnr lnr-magic-wand"><% end %></li>
          <li><a onclick="dellGenre(<%= genre.id %>)" id="data_<%#= category.slug %>"><span class="lnr lnr-trash"></span></a></li>
        </ul>
      </li>
    </ul>
  </li>
<% end %>
