<% index = compatible_counter + 1 %>
<%= content_tag "div", id: "compatible3265", data: {compatible: compatible.to_json(only: [:slug])} do %>
  <li id="daddyyoio5_<%= compatible.id %>" class="_idih <%= 'tran' if (index + 1)%2 == 0 %>">
    <ul class="list-inline keke">
      <li class="_id cfdl">
        <%= index %>
      </li>
      <li class="_name cfdl">
        <%= compatible.name %>
      </li>
      <li class="_unit cfdl">
        <ul class="list-inline siut">
          <li><%= link_to compatible_edit_path(compatible) do %><span class="lnr lnr-magic-wand"><% end %></li>
          <li><a onclick="dellCompatible(<%= compatible.id %>)" id="data_<%#= category.slug %>"><span class="lnr lnr-trash"></span></a></li>
        </ul>
      </li>
    </ul>
  </li>
<% end %>
