<% index = vidsub_counter + 1 %>
<%= content_tag "div", id: "vidsub3265", data: {vidsub: vidsub.to_json(only: [:slug])} do %>
  <li id="daddyyoio51_<%= vidsub.id %>" class="_idih <%= 'tran' if (index + 1)%2 == 0 %>">
    <ul class="list-inline keke">
      <li class="_id cfdl">
        <%= index %>
      </li>
      <li class="_name cfdl">
        <%= vidsub.name %>
      </li>
      <li class="_unit cfdl">
        <ul class="list-inline siut">
          <li><%= link_to vidsub_edit_path(vidsub) do %><span class="lnr lnr-magic-wand"><% end %></li>
          <li><a onclick="dellVidsub(<%= vidsub.id %>)" id="data_<%#= category.slug %>"><span class="lnr lnr-trash"></span></a></li>
        </ul>
      </li>
    </ul>
  </li>
<% end %>
