<div class="cicih">
  <div class="img_haf">
    <% if comment.user.avatar.present? %>
      <%= image_tag comment.user.avatar_url(:thumb), class: "img-coms" %>
    <% else %>
      <%= image_tag("default/default_profile.png", class: "img-coms") %>
    <% end %>
  </div>
  <div class="con_com">
    <%= link_to store_path(comment.user.id) do %>
      <h4 class="name_com"><%= comment.user.first_n + ' ' + comment.user.last_n %></h4>
    <% end %>
    <p><%= simple_format(comment.content) %></p>
    <p class="tme">
    <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %>
    </p>
  </div>
  <div class="clear"></div>
</div>
