<div id="vitem_<%= videm.id %>" class="mata scren item <%= 'active' if index == 0  %>">

<!-- start -->

<video id="my-video" class="video-js vjs_iu" controls preload="auto" width="640" height="264" data-setup="{}">
    <source src="<%= videm.trailer %>" type='video/mp4'>
</video>


<!-- end -->

<div class="diy868 coye5">
	<a class="daler65" id="del_gh_45<%= videm.id %>" onclick="video_data(<%= videm.id %>)">
		<i class="fa fa-times" aria-hidden="true"></i>
	</a>
</div>
</div>


