<ul class="rece">
  <% @frees.each do |free| %>
    <% if free.theme.present? %>
      <li class="kulo">
        <div class="arts">
          <%= image_tag free.theme.thumbnail_url(:thumbnail) %>
          <div class="extras">
            <div class="u_name">
              <%= link_to "", item_path(free.theme), class: "this_oiu", "data-turbolinks": false %>
            </div>
            <div class="vote">
              <ul>
                <li>
                  <% if signed_in? %>
                    <% free.theme.brokes.each do |file| %>
                      <a class="co_ic loih" target="_blank" href="<%= file.resources %>"><span class="fa fa-download ic_vote"></span></a>
                    <% end %>
                  <% else %>
                    <%= link_to sign_in_path, class: "co_ic loih" do %>
                      <i class="fa fa-download ic_vote"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="tooltip_j">
              <div id="dat_tooltip">
                <div class="img_o">
                  <% free.theme.screenshots[0..0].each do |image| %>
                    <%= image_tag image.screenshot_url(:hover) %>
                  <% end %>  
                </div>
                <div class="titlw pull-left">
                  <h4 class="je"><%= truncate(free.theme.name, length: 50) %></h4>
                  <span class="by"><%= free.theme.user.company %> | </span> 
                  <span class="by">themes / <%= free.theme.category.name %></span>
                </div>
                <div class="prce pull-right">
                  <span class="k">$<%= free.theme.price.to_i.floor %></span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="author">
            <% if free.theme.user.avatar.blank? %>
              <%= image_tag('default/default_profile.png', width: 28)  %>
            <% else %>
              <%= image_tag free.theme.user.avatar_url(:taan), width: 28 %>
            <% end %>
          </div>
          <div class="sell_info">
            <span class="icon-cart_3 icon_cart_3"></span><span class="dta_sell"><%= free.theme.line_items.where(theme_id: free.theme.id).count %></span>
          </div>
          <div class="price_info">
            <span class="icon-price icon_price_1"></span><span class="dta_price"><%= free.theme.price.to_i.floor %></span>
          </div>
        </div>
      </li>
    <% elsif free.code.present? %>
      <li class="kulo">
        <div class="arts">
          <%= image_tag free.code.thumbnail_url(:thumbnail) %>
          <div class="extras">
            <div class="u_name">
              <%= link_to "", item_code_path(free.code), class: "this_oiu", "data-turbolinks": false %>
            </div>
            <div class="vote">
              <ul>
                <li>
                  <% if signed_in? %>
                    <% free.code.brokes.each do |file| %>
                      <a class="co_ic loih" target="_blank" href="<%= file.resources %>"><span class="fa fa-download ic_vote"></span></a>
                    <% end %>
                  <% else %>
                    <%= link_to sign_in_path, class: "co_ic loih" do %>
                      <i class="fa fa-download ic_vote"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="tooltip_j">
              <div id="dat_tooltip">
                <div class="img_o">
                  <% free.code.screenshots[0..0].each do |image| %>
                    <%= image_tag image.screenshot_url(:hover) %>
                  <% end %>  
                </div>
                <div class="titlw pull-left">
                  <h4 class="je"><%= truncate(free.code.name, length: 50) %></h4>
                  <span class="by"><%= free.code.user.company %> | </span> 
                  <span class="by">codes / <%= free.code.category.name %></span>
                </div>
                <div class="prce pull-right">
                  <span class="k">$<%= free.code.price.to_i.floor %></span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="author">
            <% if free.code.user.avatar.blank? %>
              <%= image_tag('default/default_profile.png', width: 28)  %>
            <% else %>
              <%= image_tag free.code.user.avatar_url(:taan), width: 28 %>
            <% end %>
          </div>
          <div class="sell_info">
            <span class="icon-cart_3 icon_cart_3"></span><span class="dta_sell"><%= free.code.line_items.where(theme_id: free.code.id).count %></span>
          </div>
          <div class="price_info">
            <span class="icon-price icon_price_1"></span><span class="dta_price"><%= free.code.price.to_i.floor %></span>
          </div>
        </div>
      </li>
    <% elsif free.graphic.present? %>
      <li class="kulo">
        <div class="arts">
          <%= image_tag free.graphic.thumbnail_url(:thumbnail) %>
          <div class="extras">
            <div class="u_name">
              <%= link_to "", item_graphic_path(free.graphic), class: "this_oiu", "data-turbolinks": false %>
            </div>
            <div class="vote">
              <ul>
                <li>
                  <% if signed_in? %>
                    <% free.graphic.brokes.each do |file| %>
                      <a class="co_ic loih" target="_blank" href="<%= file.resources %>"><span class="fa fa-download ic_vote"></span></a>
                    <% end %>
                  <% else %>
                    <%= link_to sign_in_path, class: "co_ic loih" do %>
                      <i class="fa fa-download ic_vote"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="tooltip_j">
              <div id="dat_tooltip">
                <div class="img_o">
                  <% free.graphic.screenshots[0..0].each do |image| %>
                    <%= image_tag image.screenshot_url(:hover) %>
                  <% end %>  
                </div>
                <div class="titlw pull-left">
                  <h4 class="je"><%= truncate(free.graphic.name, length: 50) %></h4>
                  <span class="by"><%= free.graphic.user.company %> | </span> 
                  <span class="by">graphics / <%= free.graphic.category.name %></span>
                </div>
                <div class="prce pull-right">
                  <span class="k">$<%= free.graphic.price.to_i.floor %></span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="author">
            <% if free.graphic.user.avatar.blank? %>
              <%= image_tag('default/default_profile.png', width: 28)  %>
            <% else %>
              <%= image_tag free.graphic.user.avatar_url(:taan), width: 28 %>
            <% end %>
          </div>
          <div class="sell_info">
            <span class="icon-cart_3 icon_cart_3"></span><span class="dta_sell"><%= free.graphic.line_items.where(theme_id: free.graphic.id).count %></span>
          </div>
          <div class="price_info">
            <span class="icon-price icon_price_1"></span><span class="dta_price"><%= free.graphic.price.to_i.floor %></span>
          </div>
        </div>
      </li>
    <% elsif free.t3d.present? %>
      <li class="kulo">
        <div class="arts">
          <%= image_tag free.t3d.thumbnail_url(:thumbnail) %>
          <div class="extras">
            <div class="u_name">
              <%= link_to "", item_t3d_path(free.t3d), class: "this_oiu", "data-turbolinks": false %>
            </div>
            <div class="vote">
              <ul>
                <li>
                  <% if signed_in? %>
                    <% free.t3d.brokes.each do |file| %>
                      <a class="co_ic loih" target="_blank" href="<%= file.resources %>"><span class="fa fa-download ic_vote"></span></a>
                    <% end %>
                  <% else %>
                    <%= link_to sign_in_path, class: "co_ic loih" do %>
                      <i class="fa fa-download ic_vote"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="tooltip_j">
              <div id="dat_tooltip">
                <div class="img_o">
                  <% free.t3d.screenshots[0..0].each do |image| %>
                    <%= image_tag image.screenshot_url(:hover) %>
                  <% end %>  
                </div>
                <div class="titlw pull-left">
                  <h4 class="je"><%= truncate(free.t3d.name, length: 50) %></h4>
                  <span class="by"><%= free.t3d.user.company %> | </span> 
                  <span class="by">3D Animation / <%= free.t3d.category.name %></span>
                </div>
                <div class="prce pull-right">
                  <span class="k">$<%= free.t3d.price.to_i.floor %></span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="author">
            <% if free.t3d.user.avatar.blank? %>
              <%= image_tag('default/default_profile.png', width: 28)  %>
            <% else %>
              <%= image_tag free.t3d.user.avatar_url(:taan), width: 28 %>
            <% end %>
          </div>
          <div class="sell_info">
            <span class="icon-cart_3 icon_cart_3"></span><span class="dta_sell"><%= free.t3d.line_items.where(theme_id: free.t3d.id).count %></span>
          </div>
          <div class="price_info">
            <span class="icon-price icon_price_1"></span><span class="dta_price"><%= free.t3d.price.to_i.floor %></span>
          </div>
        </div>
      </li>
    <% elsif free.videofx.present? %>
      <li class="kulo">
        <div class="arts">
          <%= image_tag free.videofx.thumbnail_url(:thumbnail) %>
          <div class="extras">
            <div class="u_name">
              <%= link_to "", item_videofx_path(free.videofx), class: "this_oiu", "data-turbolinks": false %>
            </div>
            <div class="vote">
              <ul>
                <li>
                  <% if signed_in? %>
                    <% free.videofx.brokes.each do |file| %>
                      <a class="co_ic loih" target="_blank" href="<%= file.resources %>"><span class="fa fa-download ic_vote"></span></a>
                    <% end %>
                  <% else %>
                    <%= link_to sign_in_path, class: "co_ic loih" do %>
                      <i class="fa fa-download ic_vote"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="tooltip_j">
              <div id="dat_tooltip">
                <div class="img_o">
                  <% free.videofx.videms.each do |videm| %>
                    <video id="ajjayyy" class="video-js aja_<%= videm.id %>" preload="auto" width="463" height="257" data-setup="{}" style="width: 463px !important; height: 257px !important">
                      <source src="<%= videm.trailer %>" type='video/mp4'>
                    </video>
                  <% end %>
                </div>
                <div class="titlw pull-left">
                  <h4 class="je"><%= truncate(free.videofx.name, length: 50) %></h4>
                  <span class="by"><%= free.videofx.user.company %> | </span> 
                  <span class="by">Video Effects / <%= free.videofx.category.name %></span>
                </div>
                <div class="prce pull-right">
                  <span class="k">$<%= free.videofx.price.to_i.floor %></span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="author">
            <% if free.videofx.user.avatar.blank? %>
              <%= image_tag('default/default_profile.png', width: 28)  %>
            <% else %>
              <%= image_tag free.videofx.user.avatar_url(:taan), width: 28 %>
            <% end %>
          </div>
          <div class="sell_info">
            <span class="icon-cart_3 icon_cart_3"></span><span class="dta_sell"><%= free.videofx.line_items.where(theme_id: free.videofx.id).count %></span>
          </div>
          <div class="price_info">
            <span class="icon-price icon_price_1"></span><span class="dta_price"><%= free.videofx.price.to_i.floor %></span>
          </div>
        </div>
      </li>
    <% elsif free.font.present? %>
      <li class="kulo">
        <div class="arts">
          <%= image_tag free.font.thumbnail_url(:thumbnail) %>
          <div class="extras">
            <div class="u_name">
              <%= link_to "", item_font_path(free.font), class: "this_oiu", "data-turbolinks": false %>
            </div>
            <div class="vote">
              <ul>
                <li>
                  <% if signed_in? %>
                    <% free.font.brokes.each do |file| %>
                      <a class="co_ic loih" target="_blank" href="<%= file.resources %>"><span class="fa fa-download ic_vote"></span></a>
                    <% end %>
                  <% else %>
                    <%= link_to sign_in_path, class: "co_ic loih" do %>
                      <i class="fa fa-download ic_vote"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="tooltip_j">
              <div id="dat_tooltip">
                <div class="img_o">
                  <% free.font.screenshots[0..0].each do |image| %>
                    <%= image_tag image.screenshot_url(:hover) %>
                  <% end %>  
                </div>
                <div class="titlw pull-left">
                  <h4 class="je"><%= truncate(free.font.name, length: 50) %></h4>
                  <span class="by"><%= free.font.user.company %> | </span> 
                  <span class="by">Fonts/ <%= free.font.category.name %></span>
                </div>
                <div class="prce pull-right">
                  <span class="k">$<%= free.font.price.to_i.floor %></span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="author">
            <% if free.font.user.avatar.blank? %>
              <%= image_tag('default/default_profile.png', width: 28)  %>
            <% else %>
              <%= image_tag free.font.user.avatar_url(:taan), width: 28 %>
            <% end %>
          </div>
          <div class="sell_info">
            <span class="icon-cart_3 icon_cart_3"></span><span class="dta_sell"><%= free.font.line_items.where(theme_id: free.font.id).count %></span>
          </div>
          <div class="price_info">
            <span class="icon-price icon_price_1"></span><span class="dta_price"><%= free.font.price.to_i.floor %></span>
          </div>
        </div>
      </li>
    <% elsif free.course.present? %>
      <li class="kulo">
        <div class="arts">
          <%= image_tag free.course.thumbnail_url(:thumbnail) %>
          <div class="extras">
            <div class="u_name">
              <%= link_to "", item_course_path(free.course), class: "this_oiu", "data-turbolinks": false %>
            </div>
            <div class="vote">
              <ul>
                <li>
                  <% if signed_in? %>
                    <% free.course.cofiles.each do |file| %>
                      <a class="co_ic loih" target="_blank" href="<%= file.coke %>"><span class="fa fa-download ic_vote"></span></a>
                    <% end %>
                  <% else %>
                    <%= link_to sign_in_path, class: "co_ic loih" do %>
                      <i class="fa fa-download ic_vote"></i>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="tooltip_j">
              <div id="dat_tooltip">
                <div class="img_o">
                  <% free.course.freepis.each do |freepi| %>
                    <video id="ajjayyy" class="video-js aja_<%= freepi.id %>" preload="auto" width="463" height="257" data-setup="{}" style="width: 463px !important; height: 257px !important">
                      <source src="<%= freepi.cacaca %>" type='video/mp4'>
                    </video>
                  <% end %>  
                </div>
                <div class="titlw pull-left">
                  <h4 class="je"><%= truncate(free.course.name, length: 50) %></h4>
                  <span class="by"><%= free.course.user.company %> | </span> 
                  <span class="by">Courses/ <%= free.course.category.name %></span>
                </div>
                <div class="prce pull-right">
                  <span class="k">$<%= free.course.price.to_i.floor %></span>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="author">
            <% if free.course.user.avatar.blank? %>
              <%= image_tag('default/default_profile.png', width: 28)  %>
            <% else %>
              <%= image_tag free.course.user.avatar_url(:taan), width: 28 %>
            <% end %>
          </div>
          <div class="sell_info">
            <span class="icon-cart_3 icon_cart_3"></span><span class="dta_sell"><%= free.course.line_items.where(theme_id: free.course.id).count %></span>
          </div>
          <div class="price_info">
            <span class="icon-price icon_price_1"></span><span class="dta_price"><%= free.course.price.to_i.floor %></span>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="clear"></div>
