<ul class="dropdown-menu jrek">
  <% current_notifications.where(read: false).each do |notif| %>
    <li>
      <div class="fto pull-left">
        <%= image_tag notif.notified_by.avatar_url(:thumb), class: "juip" %>	
      </div>
      <div class="fghr">
        <p>
        <%= link_to store_path(notif.notified_by) do %>
          <% if notif.notice_type == 'approv' || notif.notice_type == 'reject' %>
            Reviewer
          <% else %> 
            <%= notif.notified_by.first_n %>
          <% end %> 
        <% end %>
        <% if notif.notice_type == 'bought' %>
          <%= notif.notice_type %>
        <% else %>
          <%= notif.notice_type %>ed
        <% end %>
        <% if notif.theme.present? %>
          <%= link_to item_path(notif.theme) do %>
            <span><%= truncate(notif.theme.name, length: 30) %></span>
          <% end %>
        <% elsif notif.code.present? %>
          <%= link_to item_code_path(notif.code) do %>
            <span><%= truncate(notif.code.name, length: 30) %></span>
          <% end %>
        <% elsif notif.graphic.present? %>
          <%= link_to item_graphic_path(notif.graphic) do %>
            <span><%= truncate(notif.graphic.name, length: 30) %></span>
          <% end %>
        <% elsif notif.t3d.present? %>
          <%= link_to item_t3d_path(notif.t3d) do %>
            <span><%= truncate(notif.t3d.name, length: 30) %></span>
          <% end %>
        <% elsif notif.videofx.present? %>
          <%= link_to item_videofx_path(notif.videofx) do %>
            <span><%= truncate(notif.videofx.name, length: 30) %></span>
          <% end %>
        <% elsif notif.font.present? %>
          <%= link_to item_font_path(notif.font) do %>
            <span><%= truncate(notif.font.name, length: 30) %></span>
          <% end %>
        <% elsif notif.course.present? %>
          <%= link_to item_course_path(notif.course) do %>
            <span><%= truncate(notif.course.name, length: 30) %></span>
          <% end %>
        <% elsif notif.notice_type == 'send' %>
          <span>Private Email, Please Check Your Email</span> 
        <% else %>
          you as friend
        <% end %>
        </p>
        <span class="tye"><%= time_ago_in_words(notif.created_at) %> ago</span>
      </div>
      <%= link_to link_through_path(notif), class: "sqkj" do %>
      <% end %>
    </li>
  <% end %>
  <div class="see_all">
    <%= link_to "SEE ALL", activity_path %>
  </div>
</ul>
