<div id="item_<%= sf.id %>" class="mata scren item <%= 'active' if index == 0  %>">
  <%= image_tag sf.screenshot_url(:screen_big), class: "udu65" %>
  <div class="diy868">
    <a class="daler65" id="del_th_45<%= sf.id %>" onclick="data_theme(<%= sf.id %>)">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
</div>
