<% index = dependency_counter + 1 %>
<%= content_tag "div", id: "dependency3265", data: {dependency: dependency.to_json(only: [:slug])} do %>
  <li id="daddyyoio_<%= dependency.id %>" class="_idih <%= 'tran' if (index + 1)%2 == 0 %>">
    <ul class="list-inline keke">
      <li class="_id cfdl">
        <%= index %>
      </li>
      <li class="_name cfdl">
        <%= dependency.name %>
      </li>
      <li class="_unit cfdl">
        <ul class="list-inline siut">
          <li><%= link_to dependency_edit_path(dependency) do %><span class="lnr lnr-magic-wand"><% end %></li>
          <li><a onclick="dellDepen(<%= dependency.id %>)" id="data_<%#= category.slug %>"><span class="lnr lnr-trash"></span></a></li>
        </ul>
      </li>
    </ul>
  </li>
<% end %>
