<div id="t3item_<%= t3.id %>" class="mata scren item <%= 'active' if index == 0  %>">
<%= image_tag t3.screenshot_url(:screen_big), class: "udu65" %>
<div class="diy868">
	<a class="daler65" id="del_t3_45<%= t3.id %>" onclick="tre_data(<%= t3.id %>)">
		<i class="fa fa-times" aria-hidden="true"></i>
	</a>
</div>
</div>