<div id="cditem_<%= sfcd.id %>" class="mata scren item <%= 'active' if index == 0  %>">
<%= image_tag sfcd.screenshot_url(:screen_big), class: "udu65" %>
<div class="diy868">
	<a class="daler65" id="del_cd_45<%= sfcd.id %>" onclick="data_code(<%= sfcd.id %>)">
		<i class="fa fa-times" aria-hidden="true"></i>
	</a>
</div>
</div>