<% unless course.agree? || course.reject? %> 
<div class="col-md-3 klie" id="klohg_<%= course.id %>">
	<div class="klhj867">
		<%= image_tag course.thumbnail_url(:thumbnail) %>
		<div class="clkj878">
			<a id="del_to_pro_course<%= course.id %>" class="del_to_pro">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
<% end %> 
<script>
	$('#del_to_pro_course<%= course.id %>').click(function(){
		$.ajax({
			type: "GET",
			url: "<%= del_to_pro_course_path(course) %>",
			success: function(){
				$('#klohg_<%= course.id %>').hide("slow");
			}
		});
	});
</script>