<% if params[:subcategory].present? %>
  <%= title "Looking for #{@subcategory.name} for courses" %>
<% else %> 
  <%= title "Looking for #{@category.name} for courses" %>
<% end %>
<div class="_head_l">
  <div class="jer">
    <div class="container kewet">
      <div class="text_">
        <%if params[:subcategory].present? %>
          <h2 class="text-center"><%= @subcategory.name %></h2>
        <% else %> 
          <h2 class="text-center"><%= @category.name %></h2>
        <% end %> 
        <div class="never">
          <% if params[:subcategory].present? %>
            <p class="hello"><%= @courses.count %> premium <%= @subcategory.name %> resources are have high quality and find all codes related to your requirements.</p>
          <% else %> 
            <p class="hello"><%= @courses.count %> premium <%= @category.name %> resources are have high quality and find all courses related to your requirements.</p>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="belt">
  <div class="container mek">
    <% if params[:subcategory].present? %> 
      <ul class="list-inline akaks">
        <li><%= link_to courses_path, class: "terjatuh", "data-turbolinks": false do %><i class="fa fa-paper-plane" aria-hidden="true"></i><% end %></li>
        <li><%= link_to @category.name, course_category_path(@category.slug), class: "terjatuh", "data-turbolinks": false %></li> 
        <li><a><%= @subcategory.name.capitalize %></a></li>
      </ul>
    <% else %>
      <div id="beeee" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <% @category.subcategories.each_slice(7).each_with_index do |f, index| %> 
            <div class="item <%= 'active' if index == 0  %>">
              <%= raw f.map{|g| raw(link_to(g.name, course_subcategory_path(@category.slug, g.slug), "data-turbolinks": false)).to_s}.join(" ")%>
            </div>
          <% end %> 
        </div>
      </div>
    <% end %>  
  </div> 
</div>
<div class="main_o">
  <div class="container __ji">
    <!-- <div class="fetr pull-right">
      <div id="ddos" class="wrapper-dropdown-3" tabindex="1">
      <span>All Themes</span>
      <ul class="dropdown_ux">
      <li><a href="#">Popular</a></li>
      <li><a href="#">Best Seller</a></li>
      <li><a href="#">Best Rated</a></li>
      <li><a href="#">Recent</a></li>
      </ul>
      </div>
      </div> -->
      <div class="clear"></div>
      <div class="col-md-3 leftr_l">
        <div class="hf76">
          <div class="titil">
            <p class="twq kew kjlv">Filter Courses</p>
          </div>
          <div class="content">
            <% if params[:subcategory].present? %>
              <%= form_tag course_subcategory_path, id: "search_course_filter", method: :get, remote: true do %>
                <div class="form-group">
                  <%= text_field_tag :search, params[:search], class: "form-control kre45", id: "sch_course", placeholder: "Wordpress, Drupal, Joomla, etc", onkeypress: "data_find()" %>
                </div>
                <div class="form-group">
                  <p class="twq kjr">Price</p>
                  <div class="beee">
                    <%= text_field_tag :min, params[:min], class: "form-control kre45 kerpo", id: "min_course", placeholder: "#{@minprice.to_i.floor}", onkeypress: "data_find_min()" %>
                  </div>
                  <div class="booo">
                    <%= text_field_tag :max, params[:max], class: "form-control kre45 kerpo", id: "max_course", placeholder: "#{@maxprice.to_i.floor}", onkeypress: "data_find_max()" %>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="form-group">
                  <p class="twq kjy">Skill Level</p>
                  <ul class="ldfj">
                    <li class="hg97">
                      <label class="fixed tmeng" id="dedong">
                        <%= check_box_tag "beginner", "beginner" %>
                        <span class="zs"></span><span class="nbf">Beginner</span>
                      </label>
                    </li>
                    <li class="hg97">
                      <label class="liquid tmeng">
                        <%= check_box_tag "intermediate", "intermediate" %>
                        <span class="zs"></span><span class="nbf">Intermediate</span>
                      </label>
                    </li>
                    <li class="hg97">
                      <label class="responsive tmeng">
                        <%= check_box_tag "expert", "expert" %>
                        <span class="zs"></span><span class="nbf">Expert</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <p class="twq loreq">Sorted</p>
                  <div class="mdgr754">
                    <%= select_tag :sorter, options_for_select([["popular"], ["recents"], ["best seller"], ["best rated"]], params[:sorter]), { prompt: "Sort", class: "form-control jager24" } %>
                  </div>
                </div>
                <%= submit_tag "Post", style: "display: none;" %>
              <% end %>
            <% else %> 
              <%= form_tag course_category_path, id: "search_course_filter", method: :get do %>
                <div class="form-group">
                  <%= text_field_tag :search, params[:search], class: "form-control kre45", id: "sch_course", placeholder: "Wordpress, Drupal, Joomla, etc", onkeypress: "data_find()" %>
                </div>
                <div class="form-group">
                  <p class="twq kjr">Price</p>
                  <div class="beee">
                    <%= text_field_tag :min, params[:min], class: "form-control kre45 kerpo", id: "min_course", placeholder: "#{@minprice.to_i.floor}", onkeypress: "data_find_min()" %>
                  </div>
                  <div class="booo">
                    <%= text_field_tag :max, params[:max], class: "form-control kre45 kerpo", id: "max_course", placeholder: "#{@maxprice.to_i.floor}", onkeypress: "data_find_max()" %>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="form-group">
                  <p class="twq kjy">Skill Level</p>
                  <ul class="ldfj">
                    <li class="hg97">
                      <label class="fixed tmeng" id="dedong">
                        <%= check_box_tag "beginner", "beginner" %>
                        <span class="zs"></span><span class="nbf">Beginner</span>
                      </label>
                    </li>
                    <li class="hg97">
                      <label class="liquid tmeng">
                        <%= check_box_tag "intermediate", "intermediate" %>
                        <span class="zs"></span><span class="nbf">Intermediate</span>
                      </label>
                    </li>
                    <li class="hg97">
                      <label class="responsive tmeng">
                        <%= check_box_tag "expert", "expert" %>
                        <span class="zs"></span><span class="nbf">Expert</span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <p class="twq loreq">Sorted</p>
                  <div class="mdgr754">
                    <%= select_tag :sorter, options_for_select([["popular"], ["recents"], ["best seller"], ["best rated"]], params[:sorter]), { prompt: "Sort", class: "form-control jager24" } %>
                  </div>
                </div>
                <%= submit_tag "Post", style: "display: none;" %>
              <% end %>
            <% end %> 
          </div>
        </div>
      </div>
      <div class="col-md-9 rgth_p">
        <div class="sert9">
          <ul class="lew jsdfgdjh9809" id="push_step_course">
            <%= render 'push' %> 
          </ul>
        </div>
      </div>
      <div class="clear"></div>
  </div>
</div>
