<%= title "Upload Advertising and Illustrations " + "~ " + " KAPHOO" %>
<div class="upload_item new_att">
  <div class="container th-cus">
    <div class="att_conten this_up">
      <h3>Upload New Product to <span><%= @graphic.category.name %></span></h3>
      <div class="drw">
        <p>Sell design for popular products such as: Illustration, Logo, Business Card, Cloting Design, and Icons &amp; C++</p>
      </div>
      <ul class="list-inline cfde">
        <li class="hge">
          <%= link_to graphics_path do %>
            <i class="fa fa-home" aria-hidden="true"></i>
          <% end %>
        </li>
        <li><%= @graphic.category.name %></li>
      </ul>
    </div>
  </div>
</div>
<div class="upload_content">
  <div class="container th-cus">
    <%= form_for @graphic, html: {multipart: true} do |f| %>
      <div class="col-md-8 fdr cfah">
        <div class="name_des">
          <div class="form-group liu">
            <span class="ywe">Code title</span>
            <div class="myth">
              <%= f.text_field :name, class: "form-control this_load", require: true %>
            </div>
          </div>
          <div class="form-group file_upload liu">
            <span class="ywe">Screenshots</span>
            <div class="myth bdgft">
              <div class="thumbil">
                <div class="jdg54">
                  <div id="src_srr" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" id="beta5" role="listbox">
                      <% @graphic.screenshots.each_with_index do |graph, index| %>
                        <%= render partial: 'screenshot', locals: {graph: graph, index: index} %>
                      <% end %>  
                    </div>
                    <a class="left jet_left carousel-control" href="#src_srr" role="button" data-slide="prev">
                      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                    <a class="right jet_right carousel-control" href="#src_srr" role="button" data-slide="next">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="screenshot scr_tre sdcsd">
                  <%= f.fields_for :screenshots, Screenshot.new do |q| %>
                    <%= q.file_field :screenshot, multiple: true, name: "graphic[screenshots_attributes][][screenshot]", class: "dhgd54" %>
                    <label for="graphic_screenshots_attributes_0_screenshot" class="dyeu746"><i class="fa fa-camera" aria-hidden="true"></i></label>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group liu">
            <span class="ywe">Description</span>
            <div class="myth">
              <%= f.cktext_area :description, ckeditor: {uiColor: '#EEF1F8', toolbar: 'simple'}, placeholder: "description for your product", class: "form-control this_load" %>
            </div>
          </div>
          <div class="form-group liu">
            <span class="ywe">Demo URL</span>
            <div class="myth">
              <%= f.text_field :url_demo, class: "form-control this_load", require: true %>
            </div>
          </div>
          <div class="form-group liu">
            <span class="ywe">Video Demo</span>
            <div class="myth">
              <%= f.text_field :video_demo, class: "form-control this_load", require: true %>
            </div>
          </div>
        </div>
        <div class="note">
          <div class="liu">
            <span class="ywe">Note for Reviewer</span>
            <div class="myth">
              <%= f.text_area :note, class: "form-control this_load", require: true %>
            </div>
          </div>
        </div>
        <div class="up_btw">
          <div class="liu">
            <div class="myth">
              <%= f.submit "UPLOAD", class: "btn_uh" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 fdr cfih">
        <div class="file_upload vuih">
          <div class="form-group liu">
            <div class="fok">
              <span class="ywe">Thumnail</span>
            </div>
            <div class="myth crekkk">
              <div class="thumbil">
                <div class="dhgf565" id="jreg<%= @graphic.id %>">
                  <%= render partial: 'thumbnail', locals: {graphic: @graphic} %>
                </div>
                <div class="cvfgt98">
                  <%= f.file_field :thumbnail, class: "thumb_thg97" %>
                  <label for="graphic_thumbnail" class="lbk_tdr"><i class="fa fa-camera" aria-hidden="true"></i></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= content_tag "div", id: "brokes88375", data: {brokes: @graphic.brokes.to_json(only: [:id])} do %>
          <div class="file_upload vuih">
            <div class="form-group liu">
              <div class="fok">
                <span class="ywe">Main File(ZIP)</span>
              </div>
              <div class="myth">
                <div class="resources">
                  <%= f.fields_for :resources, Broke.new do |q| %>
                    <%= q.file_field :resources, multiple: true, name: "graphic[brokes_attributes][][resources]", class: "lepas" %>
                    <% if @graphic.brokes.present? %>
                      <% @graphic.brokes.each do |broke| %>
                        <div id="rhrh75"></div>
                        <div id="hdg98">
                          <%= render partial: 'delbroke', locals: {broke: broke} %>
                        </div>
                      <% end %> 
                    <% else %>
                      <div id="hftu88"></div>
                      <div id="fhg656">
                        <%= render partial: 'addbroke' %>
                      </div>
                    <% end %> 
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="subct vuih">
          <div class="form-group liu">
            <div class="fok">
              <span class="ywe">Code Category</span>
            </div>
            <div class="myth">
              <div class="nbgo">
                <%= select_tag("graphic[subcategory_ids][]", options_for_select(@graphic.category.subcategories.collect {|subcategory| [subcategory.name, subcategory.id]}, @graphic.subcategories.collect { |subcategory| subcategory.id }), { class: "form-control foh kde", prompt: "Choose category"}) %>
              </div>
            </div>
          </div>
        </div>
        <div class="brows vuih">
          <div class="form-group liu">
            <div class="fok">
              <span class="ywe">Industry</span>
            </div>
            <div class="myth">
              <%= select_tag("graphic[industry_ids][]", options_for_select(Industry.all.collect {|industry| [industry.name, industry.id]}, @graphic.industries.collect { |industry| industry.id }), {multiple: true, class: "form-control chosen-select"}) %>
            </div>
          </div>
        </div>
        <div class="file vuih">
          <div class="form-group liu">
            <div class="fok">
              <span class="ywe">Files Includes</span>
            </div>
            <div class="myth">
              <%= select_tag("graphic[include_ids][]", options_for_select(@includes.collect {|include| [include.name, include.id]}, @graphic.includes.collect { |include| include.id }), {multiple: true, class: "form-control chosen-select"}) %>
            </div>
          </div>
        </div>
        <div class="comp vuih">
          <div class="form-group liu">
            <div class="fok">
              <span class="ywe">Software Min Version</span>
            </div>
            <div class="myth">
              <div class="nbgo">
                <%= f.collection_select(:softopen_id, Softopen.order('name'), :id, :name, {prompt: "Choose software"}, {class: "form-control foh kde"}) %>
              </div>
            </div>
          </div>
        </div>
        <div class="tagst vuih">
          <div class="form-group liu">
            <div class="fok">
              <span class="ywe">Tags</span>
            </div>
            <div class="myth">
              <%= f.text_field :tag_list, class: 'form-control foh', id: 'tags' %>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
</div>

