<div id="ftitem_<%= fts.id %>" class="mata scren item <%= 'active' if index == 0  %>">
  <%= image_tag fts.screenshot_url(:screen_big), class: "udu65" %>
  <div class="diy868">
    <a class="daler65" id="del_ft_45<%= fts.id %>" onclick="data_font(<%= fts.id %>)">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </div>
</div>
